---
layout: default
---
<div id="post">
<h1>{{ page.title }}</h1>
{{ content }}
</div>
<div class="bio">
  <img src="/images/avatar.png" />
  <p>Lim Cheng Soon is the founder of <a href="http://hackermonthly.com">Hacker Monthly</a>.</p>
  <a href="https://twitter.com/bearwithclaws" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @bearwithclaws</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>